
h1=title

form(action='save', method='post')
  input(type='text', name='name', placeholer='Name of the poll')
  input(type='text', name='alternatives', placeholer='Alternatives (comma separated)')
  input(type='submit', value='Save')