    
  

.row
  .span6
    h1=title

    form(action='save', method='post')
      input(type='text', name='name', placeholder='Name of the poll')
      br
      input(type='text', name='alternatives', placeholder='Alternatives (comma separated)')
      br
      input(type='submit', value='Save')


​