
h1=title

form(action='save', method='post')
  input(type='text', name='name', placeholder='Name of the poll')
  input(type='text', name='alternatives', placeholder='Alternatives (comma separated)')
  input(type='submit', value='Save')
