

.row
        .hero-unit
          h1 Start a poll on the big screen
          p Use this service to create a poll on conferences, meetings or public places. 


.row
  each poll in polls
    .span4
      a(href='/poll/' + poll._id)=poll.name


a(href='add', class='btn') Add new poll


