!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body





script(src="/socket.io/socket.io.js")
script
    var socket = io.connect();
    socket.on('vote', function (data) {
      window.location.reload();
    });
