
.row
  .hero-unit
    h1=poll.name
    p Use your mobile to vote for the alternatives. Or click on the QR codes below.

ul.thumbnails
  each alternative in poll.alternatives
    li.thumbnail(class="span" + Math.round(12 / poll.alternatives.length))
      - var alternativeId = poll.alternatives.indexOf(alternative)
      - var href = 'http://' + host + '/poll/' + poll._id + '/' + alternativeId

        a(href=href, class='preview')
          img(src='http://chart.apis.google.com/chart?cht=qr&chs=250x250&chl=' + encodeURI(href))

          .progress
            .bar(style="width: " + Math.round((alternative.votes.length / (totalVotes || 10)) * 100) + "%", title=" (" + alternative.votes.length + "/" + totalVotes + ")")
          
          h5=alternative.name 