h1=poll.name

ul
  each alternative in poll.alternatives
    li
      - var alternativeId = poll.alternatives.indexOf(alternative)
      - var href = 'http://' + host + '/poll/' + poll._id + '/' + alternativeId
        a(href=href)=alternative + ", röster:" + (poll.votes[alternativeId] || []).length
          img(src='http://chart.apis.google.com/chart?cht=qr&chs=250x250&chl=' + encodeURI(href))